{% extends 'main_app/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}{{ page_title|default:"Create Asset" }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">{{ page_title|default:"Create Asset" }}</h3>
                    </div>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body blue-border">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}

                            {{ form|crispy }}
                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-outline-info">Post</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}
